<div class="row">
        <div class="col col-md-4">
                <%= form_with(model: [company, claim]) do |f| %>
                       <strong><%= f.label :Claim %></strong><br>
                        <%= f.text_area :claim %><br>
                        <%= f.submit 'Add Claim', class: 'btn btn-success'%>
                <% end %>
        </div>
</div>