<h1>Claims for <strong><%= @company.name%></strong></h1> 

 <%= render  "claims_form", company: @company, claim: @claim %>

 <div class="row">
         <div class="col col-md-6">
                 <div id="claims">
                        <% @claims.each do |claim| %>
                        <div class="alert alert-warning" role="alert">
                                        <%=  claim.claim%>
                                        <span class="badge badge-success"><strong>By:</strong><%=claim.user.email.split('@')[0]%></span>
                                        </div>
                                      
                        
                        <% end %>
                 </div>

         </div>
 </div>

